<div class="container">
  <h1>Google — Beautified</h1>
  <form action="/search/">
    <div class="input-group mb-3 d-flex justify-content-center">
      <input type="text" id="search" placeholder="What can I help you with?">
      <button type="button" id="submit">Search</button>
    </div>
  </form>
</div>
